<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
body {background: #ccdaea !important;}
</style>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Main Page HTML</title>
</head>

<body>

  <div class="container px-lg-5">

    <div class="row mx-lg-n5">
      <input type="search" placeholder="Search.." size="100">
      <button>Search</button>
    </div>
    <div class="row align-items-end, example-content-main">
      <div class="col-sm">
        <a href="url"> +Add new note </a>
      </div>
      <div class="col-sm">
      </div>
    </div>

    <div class="row mx-lg-n5">
      <h1>Blablabla (user's tag's name)</h1>
    </div>
    <div class="row align-items-end, example-content-main">
      <div class="col-sm">
        1. Blablablabla (note's year)</div>
      <div class="col-sm">Blablablabla (note's description)</div>
      <div class="col-sm"><a href="url">Edit</a></div>
      <div class="col-sm"><a href="url">Remove</a></div>
    </div>

    <div class="row align-items-end, example-content-main">
      <div class="col-sm">
        2. Blablablabla (note's year)</div>
      <div class="col-sm">Blablablabla (note's description)</div>
      <div class="col-sm"><a href="url">Edit</a></div>
      <div class="col-sm"><a href="url">Remove</a></div>
    </div>
    <div class="row align-items-end, example-content-main">
      <div class="col-sm">
        3. Blablablabla (note's year)</div>
      <div class="col-sm">Blablablabla (note's description)</div>
      <div class="col-sm"><a href="url">Edit</a></div>
      <div class="col-sm"><a href="url">Remove</a></div>
    </div>
    <div class="row align-items-end, example-content-main">
      <div class="col-sm">
        4. Blablablabla (note's year)</div>
      <div class="col-sm">Blablablabla (note's description)</div>
      <div class="col-sm"><a href="url">Edit</a></div>
      <div class="col-sm"><a href="url">Remove</a></div>
    </div>
    <div class="row align-items-end, example-content-main">
      <div class="col-sm">
        5. Blablablabla (note's year)</div>
      <div class="col-sm">Blablablabla (note's description)</div>
      <div class="col-sm"><a href="url">Edit</a></div>
      <div class="col-sm"><a href="url">Remove</a></div>
    </div>
  </div>

  </div>

  </div>
</body>

</html>