<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<h1 th:text="${username}"></h1>
<h1 th:text="${userId}"></h1>
<h3 style="margin-top: 10px;" align="center">Please enter your request below</h3>
<div align="center">
    <input type="search" placeholder="Search.." size="100">
    <button type="button" class="btn btn-dark">Search</button>
</div>
<div class="container px-lg-5" align="center">

    <div class="row align-items-end, example-content-main">
        <div class="col-md">
            <a href="/add"> +Add new note </a>
        </div>

    </div>
    <table class="table">
        <thead>
        <tr>
            <td>Date</td>
            <td>Name</td>
            <td>Tags</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note: ${notes}">
            <td th:text="${#dates.format(note.date, 'yyyy-MM-dd')}"></td>
            <td><a th:href="@{'/edit/'+ ${note.id}}" th:text="${note.name}"></a></td>
            <!--<td th:text="note.text"></td>-->
            <td>
                <span class="badge badge-primary" th:text="${note.tag.name}"></span>
            </td>
            <td><a class="delete-button" th:href="@{/delete_note(noteId=${note.id})}">
                <i class="fas fa-trash-alt"></i>
            </a></td>
        </tr>
        </tbody>
    </table>


    <div style="border-bottom: 1px solid black; margin-top:30px;">
        <span class="badge badge-primary" th:each="tag : ${tags}" th:text="${tag.name}"></span>
    </div>
</div>
<script>
    (function () {
        var elements = Array.from(document.querySelectorAll('.delete-button'));
        elements.forEach(function (element) {
            element.addEventListener('click', function (event) {
                if (!confirm("Are you sure you want to delete this note?")) {
                    event.preventDefault();
                }
            });
        })
    })()
</script>
</body>

</html>
