<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
body {
	background: #ccdaea !important;
}
</style>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Note description</title>
</head>

<body>
	<div class="float-right">
		<a th:href="@{/logout}" class="btn btn-secondary">Logout</a>
	</div>
	<!--<table>-->
	<!--<tbody>-->
	<!--<tr th:="note: ${notes}">-->
	<!--<td th:text="${note.name}"></td>-->
	<!--<td th:text="${note.date}"></td>-->
	<!--</tr>-->
	<!--</tbody>-->
	<!--</table>-->

	<h1 align="center">This is Name of the note</h1>


	<div class="container">
		<div class="form-group">
			<h4>Date:</h4>
			<div>this is date entered/saved by user</div>
		</div>
		<div class="form-group">
			<h4>Description:</h4>
			<div>this is description entered/saved by user</div>
		</div>
		<div class="form-group">
			<h4>Tag:</h4>
			<div>this is tag entered/saved by user</div>
		</div>

		<div class="row">
			<!-- onclick="window.location.href='/editNotePageHTML'" -->
			<form action="/edit">
				<button class="btn btn-secondary">Edit</button>
			</form>

			<!-- <form action="/insideTagPageHTML.html"> -->
			<button class="btn btn-light" onclick="goBack()">Back</button>
			<script>
				function goBack() {
					window.history.back();
				}
			</script>
		</div>
	</div>
</body>

</html>
