<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    body {
        background: #ccdaea !important;
    }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Registration form</title>
</head>

<body>
<h1 align="center">Registration form</h1>

<div class="container">
    <form th:action="@{/registration}" method="post" th:object="${user}">

        <div class="form-group">
            <h4>*Username:</h4>
            <input class="form-control" th:field="*{username}" id="username" type="text" size="80" required>
            <div>Please note that min length is 5 digits, max length is 10 digits</div>
        </div>
        <div class="form-group">
            <h4>*Password:</h4>
            <input class="form-control" id="password" th:field="*{password}" type="text" size="80" required>
            <div>Please note that min length is 5 digits</div>
        </div>
        <div class="form-group">
            <h4>*Confirm password:</h4>
            <input id="password-confirm" class="form-control" type="text" size="80" th:field="*{passwordConfirm}" required>
        </div>
        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-light" onclick="goBack()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script>
  function goBack() {
    window.history.back()
  }
</script>
</body>

</html>
