<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
body {
	background: #ccdaea !important;
}
</style>
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container">
		<h1>Welcome!</h1>
		<p class="col-lg-6">
			Have you ever tried to remember when was the last time you visited a
			doctor? <br> When did you graduate from primary school? <br>
			How long ago did you go on that trip that changed your life?
		</p>
		<p class="col-lg-6">Use WIMS to make life event notes!</p>
		<p class="col-lg-6">
			<a th:href="@{/login}">Login</a> or <a th:href="@{/registration}">Register</a>
			to start using WIMS now!
			<!-- <a th:href="@{/logout}">Logout</a> -->
		</p>

	</div>
</body>
</html>
